@font-face{
    src: url(fonts/Lazydog.otf);
    font-family: Lazydog;
}

@font-face {
    src: url(fonts/Hana’s\ Hand.ttf);
    font-family: Hana;
}

/*! body style ==========================================*/

body{
    font-family: Hana;
    font-size: 18px;
    margin: 0px;

    /*! background image*/
    background-image: url(media/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

/*! elements within body ================================*/

h1{
    font-family: lazydog;
    font-size: 45px;
    text-align: center;
}

/*! navigation bar style ================================*/

.navbar ul{
    list-style-type: none;
    background-color: #ff3b72;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    padding: 15px;
    display: block;
    text-align: center;
    text-decoration: none;
}

.navbar a:hover{
    background-color: #fabcce;
}

.navbar li{
    float: left;
}